body{
  margin: 0px;
  background-image: url('assets/purpleSpace.jpg');
  background-size:100%;
  background-repeat:no-repeat;
  overflow:none;
}

.protagonist {
  background: url('assets/spaceShip2.png');
  top:60%;
  left:40%;
  height:576px;
  width:358px;
  transform:scale(0.2,0.2);
  border-radius:10px;
  position:absolute;
}

.enemy {
  background: url('assets/ralph.gif');
  top:0;
  left:40%;
  height:350px;
  width:380px;
  -webkit-transform:scale(0.25,0.25);
  border-radius:10px;
  position:absolute;

}
