body{
  margin: 0px;
  background-image: url('assets/purpleSpace.jpg');
  background-size:100%;
  background-repeat:no-repeat;
}

.protagonist {
  background: url('assets/spaceShip.png');
  top:60%;
  left:40%;
  height:576px;
  width:358px;
  transform:scale(0.2,0.2);
  border-radius:10px;
  position:absolute;
}

.enemy {
  background: url('assets/ralph.gif');
  top:0;
  left:40%;
  height:350px;
  width:380px;
  /*-webkit-transform:rotate(180deg) scale(0.05,0.05);*/
  border-radius:10px;
  position:absolute;

}
